//begin about-us
.about-us
  //begin about-us__left
  .about-us__left
    .about-us__left-inn
      a(href="/").about-us__logo.logo
        include ../elements/logo-svg
      h2.about-us__title About Us
      .about-us__left-text
        p.about-us__left-text--lg First and foremost, we believe that giving and receiving flowers should be a pleasure.
        p Our purpose at FlowerLand Decor is to create flower and décor works of art that are a tribute to your personality on your special occasion, it is something that we do out of love, compassion, joy and appreciation. We are honored to share these moments with you, and aim to make the experience enjoyable, from beginning to end.
        p Our corporate ethic, individuality and creativity makes every event unforgettable. We also strive to help our community by supporting local businesses, causes and organizations.
        p.about-us__left-text--sm FlowerLand Decor was founded by Iryna and Alexandra in 2014 as a flower store and floral design company, which transitioned to event styling and design company only in 2016
  //end about-us__left

  //begin about-us__right
  .about-us__right
    .about-us__right-inn
      .about-us__right-text
        p
          | Our designs are always
          =' '
          span personalized
          =' '
          | and our client is
          =' '
          span special,
          =' '
          |so we must be
          =' '
          span innovative,
          =' '
          | every day.
  //end about-us__right
//end   about-us