mixin logo
  //begin logo
  .index-slider__logo.logo
    include ../elements/logo-svg
  //end logo

mixin btn
  .btn
    a(href="#") view more work
    +svg('arr-bottom')

//begin index-slider
.index-slider#one-page-scroll
  //begin slide-01
  section.index-slider__slide
    .index-slider__slide-bg(style="background-image: url('assets/img/index/bg-index-01.jpg')")
    .container
      +logo
      h2.index-slider__title
        | Floral & Event
        br
        | Design Studio
      .index-slider__scroll
        span scroll
        +svg('arr-bottom')
  //end slide-01
  //begin slide-02
  section.index-slider__slide
    .index-slider__slide-bg(style="background-image: url('assets/img/index/bg-index-02.jpg')")
    .container
      +logo
      h2.index-slider__title Weddings
      +btn
  //end slide-02
  //begin slide-03
  section.index-slider__slide
    .index-slider__slide-bg(style="background-image: url('assets/img/index/bg-index-03.jpg')")
    .container
      +logo
      h2.index-slider__title Special Events
      +btn
  //end slide-03
  //begin slide-04
  section.index-slider__slide
    .index-slider__slide-bg(style="background-image: url('assets/img/index/bg-index-04.jpg')")
    .container
      +logo
      h2.index-slider__title Social Occasions
      +btn
  //end slide-04
  //begin slide-05
  section.index-slider__slide
    .index-slider__slide-bg(style="background-image: url('assets/img/index/bg-index-05.jpg')")
    .container
      +logo
      h2.index-slider__title
        | Daily Flower
        br
        | Order and Delivery
      +btn
  //end slide-05
  //begin slide-06
  section.index-slider__slide.index-slider__slide--white.index-slider__slide--inst
    .index-slider__slide-bg(style="background-image: url('assets/img/index/bg-index-06.jpg')")
    .container
      +logo
      .index-slider__inst
        a(href="https://www.instagram.com/flowerland_decor/?hl=en" target="_blank" rel="nofollow noopener noreferrer").index-slider__inst-logo
          +svg('inst')
          span flowerland_decor
    .index-slider__inst-pic
      .index-slider__inst-item
        img(src="assets/img/inst-pic/inst-pic-01.jpg" alt="inst pic")
      .index-slider__inst-item
        img(src="assets/img/inst-pic/inst-pic-02.jpg" alt="inst pic")
      .index-slider__inst-item
        img(src="assets/img/inst-pic/inst-pic-03.jpg" alt="inst pic")
      .index-slider__inst-item
        img(src="assets/img/inst-pic/inst-pic-04.jpg" alt="inst pic")

  //end slide-06
//end index-slider
