//begin reviews
.reviews
  .container
    //begin reviews__item
    .reviews__item
      .reviews__pic
        img(src="assets/img/reviews-01.jpg" alt="image")
      .reviews__text
        h3.reviews__title Alexandra
        span.reviews__position co-founder | creative director | director of client & media relations
        p Alexandra is an expert events decorator and the day-to-day liaison between FLD and clients. With five-star communication skills and a self-proclaimed motto to “always be in the solution,” she is often several steps ahead of clients’ needs during the planning process. She has always been the quintessential and exceptional team player and always brings love of teamwork and passion for precision to FLD’s portfolio of luxury conceptual designs. Aleksandra is ultimate multi-tasker, she contributes strong project management skills and an objective to make each event by FLD a unique work of art. Her inspired flower arrangements bring the world of imagination to life. Yes, it is true that she is fascinated with flowers and the way they make the world a more beautiful place. Aleksandra puts her heart and soul into every flower design she creates.
    //end reviews__item

    //begin reviews__item
    .reviews__item
      .reviews__pic
        img(src="assets/img/reviews-02.jpg" alt="image")
      .reviews__text
        h3.reviews__title Iryna
        span.reviews__position co-founder | creative & production director
        p Iryna is the creative visionary behind Flowerland Décor’s acclaimed experiential and transportive design work, an inspired team player, and consummate collaborator, who always wins the trust and respect of colleagues and clients. Iryna’s work reflects a bold, can-do attitude, where bringing a client’s vision to life is not only possible but paramount. All our clients are immediately drawn to her calm demeanor and irreverent sense of humor thanks to Iryna’s enthusiasm and communication skills. Iryna is responsible for implementing the creative, technical and logistical elements of each event.
        p Take a look around, enjoy our beautiful photos, and contact us if there is something special we can create especially for you!

    //end reviews__item
//end reviews