@font-face {
  font-family: Barlow-Regular;
  src:  url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff')  format('woff');
}

@font-face {
  font-family: Barlow-Bold;
  src:  url('../fonts/Barlow-Bold.woff2') format('woff2'),
        url('../fonts/Barlow-Bold.woff')  format('woff');
}

@font-face {
  font-family: ButlerStencil;
  src:  url('../fonts/ButlerStencil.woff2') format('woff2'),
        url('../fonts/ButlerStencil.woff')  format('woff');
}

@font-face {
  font-family: ButlerStencil-Bold;
  src:  url('../fonts/ButlerStencil-Bold.woff2') format('woff2'),
        url('../fonts/ButlerStencil-Bold.woff')  format('woff');
}
