extends ../_template

block variables
  - var title       = 'About Us | Flowerland decor'
  - var description = 'About Us | Flowerland decor'
  - var ogtitle     = 'About Us | Flowerland decor'

block content
  #main-wrap.main-wrap.about
    include ../sections/aside

    //begin content
    main.main
      include ../sections/about-us
      include ../sections/reviews
      include ../sections/reviews-slider
    //end content

  include ../sections/scripts
