extends ../_template

block variables
  - var title       = 'Flowerland decor'
  - var description = 'Flowerland decor'
  - var ogtitle     = 'Flowerland decor'

block content
  #main-wrap.main-wrap.index
    include ../sections/aside

    //begin content
    main.main
      include ../sections/index-slider
      //end content

  include ../sections/scripts
  script.
    // begin fullPageScroll
    $("#one-page-scroll").onepage_scroll({
      sectionContainer: ".index-slider__slide",
      easing: "cubic-bezier(.22, .44, 0, 1)",
      animationTime: 1500,
      updateURL: false,
      loop: false,
      keyboard: true,
      beforeMove: function (index) {
        // change pagination color 4 light pages
        console.clear();
        var currSlide = $('.index-slider__slide--white');
        var pagination = $('.onepage-pagination');
        var mainWrap = $('#main-wrap');
        if ($(currSlide).hasClass('active')) {
          $(pagination).addClass('purple');
          $(mainWrap).addClass('purple');
        } else {
          $(pagination).removeClass('purple');
          $(mainWrap).removeClass('purple');
        }
      },
      afterMove: function (index) {
        // change pagination color 4 light pages
        console.clear();
        var currSlide = $('.index-slider__slide--white');
        var pagination = $('.onepage-pagination');
        var mainWrap = $('#main-wrap');
        if ($(currSlide).hasClass('active')) {
          $(pagination).addClass('purple');
          $(mainWrap).addClass('purple');
        } else {
          $(pagination).removeClass('purple');
          $(mainWrap).removeClass('purple');
        }
      }
    });
    $('.onepage-pagination a').on('click', function (e) {
      e.preventDefault();
    });
    // end fullPageScroll

