extends ../_template

block variables
  - var title       = 'Flowerland decor'
  - var description = 'Flowerland decor'
  - var ogtitle     = 'Flowerland decor'
  - var ogimage     = 'assets/img/social.jpg'

block content
  #main-wrap.main-wrap.index
    include ../sections/aside

    //begin content
    main.main
      include ../sections/index-slider
      //end content

